<div id="inicioContainer">
    <div id="wContainer">
        <div class="wtitle">Bienvenido a tu <br> tienda de confianza</div>
        <div class="wcontent"></div>
        
    </div>
    <div id="hContainer">
        <div class="primeralinea">
            <div class="foto"></div>
            <div class="foto"></div>
            <div class="foto"></div>
            <div class="foto"></div>
            <div class="foto"></div>
            <div class="foto"></div>
        </div>
        <div class="segundalinea">
            <div class="foto"></div>
            <div class="foto"></div>
            <div class="foto"></div>
            <div class="foto"></div>
            <div class="foto"></div>
            <div class="foto"></div>
        </div>
        
        
    </div>
</div>

