
<div class="boxContainer">
    <div class="intContainer">
    

    <div class="title">Por favor introduzca los datos del producto</div>

    <div class="row">
        <span>Nombre: </span>
        <input type="text" id="nombre">
    </div>

    <div class="row">
        <span>Descripción: </span>
        <input type="text" id="descripcion">
    </div>

    <div class="row">
        <span>Costo: </span>
        <input type="text" id="costo">
    </div>

    <div class="row">
        <span>Precio venta: </span>
        <input type="text" id="precioventa">
    </div>

    <button (click)="toAddProduct()">Agregar producto</button>
</div>
</div>
