<header>
    <div class="home">
      ---
    </div>
    <nav>
        <div class="recargaSaldo"><span style="font-weight: lighter;">¿Deseas agregar un producto?</span> <button style="margin-top: 0; background-color: white; color: black;" (click)="onAgregarSeccion()" class="aggButton">Agregar</button></div>
      <div class="headerOptions" style="cursor: text;"> Saldo: </div>
      <div class="headerOptions" (click)="onCarritoClick()" > Carrito </div>
  
      <div class="headerOptions" (click)="onSignOutClick()"> Cerrar sesión </div>
    </nav>
  
</header>